In [45]:
# ! pip3 install xlrd
# ! pip3 install textblob
! pip3 install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     |████████████████████████████████| 242 kB 1.6 MB/s
Collecting jdcal
  Using cached jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.0.1.tar.gz (8.4 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8914 sha256=b5d00ba7b1120013699ee4be58983fc733e111b468057f5d9db4105f9ecd2064
  Stored in directory: /Users/leo/Library/Caches/pip/wheels/ef/92/e0/956c00decf3091294b8800d9104f6169a1adacfaafd122ed42
Successfully built et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from textblob import TextBlob as tb # Sentiment analysis

In [2]:
# print(tb('black').sentiment.polarity)
# print(tb('Nigger').sentiment.polarity)

In [3]:
df_webapage = pd.read_pickle('./scrape_result_80.pkl')

In [4]:
df_name = df_webapage.groupby(["Name"], sort=True).agg(['count']).Title.sort_values('count', ascending=False)
df_name.head(100)

                     count
Name
whitepride1004          31
Sumukh                   7
Michael                  6
Green Envy               6
Audrey New               6
...                    ...
Bi- Han                  3
Lydia Waweru-Morgan      3
James Bond               3
ADEDOTUN AKANDE          3
Xitsundzuxo Himina       3

[100 rows x 1 columns]

In [5]:
pol = lambda x: tb(x).sentiment.polarity
sub = lambda x: tb(x).sentiment.subjectivity

data_SA = pd.DataFrame()
data_SA['Title'] = df_webapage['Title']
data_SA['Name'] = df_webapage['Name']
data_SA['Comment'] = df_webapage['Comment']
data_SA['Polarity'] = df_webapage['Comment'].apply(pol)
data_SA['Subjectivity'] = df_webapage['Comment'].apply(sub)
data_SA

,Title,Name,Comment,Polarity,Subjectivity
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! 🙄,0.000000,0.000000
...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238

In [6]:
# data_SA['Comment'][17750]

In [7]:
PorN = lambda x: x*0 if x==0 else (x*(1/x) if x>0 else x*(-1/x))
data_SA['P/N'] = data_SA['Polarity'].apply(PorN)
data_SA

,Title,Name,Comment,Polarity,Subjectivity,P/N
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917,-1.0
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000,1.0
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000,1.0
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750,-1.0
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! 🙄,0.000000,0.000000,0.0
...,...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333,-1.0
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333,-1.0
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000,0.0
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905,1.0
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238,1.0

In [8]:
data_SA[data_SA['P/N']==1].groupby(['Title']).count()

,Name,Comment,Polarity,Subjectivity,P/N
Title,,,,,
"""3 Girls? We Don't Have Time"" | Pete Davidson SMD",49,49,49,49,49
"""Don't Lose Your Accent / Learning Accents"" - TREVOR NOAH (Pay Back The Funny)",8,8,8,8,8
"""Flying Into America"" - Trevor Noah - (Lost In Translation)",36,36,36,36,36
"""Lost Keys"" | Jo Koy : Lights Out",9,9,9,9,9
"""Rice is Rice"" | Jo Koy : Live from Seattle",28,28,28,28,28
...,...,...,...,...,...
When You're Late To Everything. Andy Woodhull,110,110,110,110,110
Whitney Cummings - I Love You - Marriage & Sex,67,67,67,67,67
Whitney Cummings | I'm Your Girlfriend: Women Paying,245,245,245,245,245
Why Arsenio Checks His Phone Before His Wife Can See | Netflix Is A Joke,22,22,22,22,22
Why Asians Are Good At Math - Jimmy O. Yang,20,20,20,20,20

In [9]:
data_SA[data_SA['P/N']==-1].groupby(['Title']).count().head()

,Name,Comment,Polarity,Subjectivity,P/N
Title,,,,,
"""3 Girls? We Don't Have Time"" | Pete Davidson SMD",16,16,16,16,16
"""Don't Lose Your Accent / Learning Accents"" - TREVOR NOAH (Pay Back The Funny)",5,5,5,5,5
"""Flying Into America"" - Trevor Noah - (Lost In Translation)",15,15,15,15,15
"""Lost Keys"" | Jo Koy : Lights Out",3,3,3,3,3
"""Rice is Rice"" | Jo Koy : Live from Seattle",8,8,8,8,8

In [10]:
# res = data_SA[['Title','P/N']].groupby(['Title']).sum()
# res

In [11]:
# res[res['P/N']>0]

In [12]:
data_SA[data_SA['P/N']==0].groupby(['Title']).count()

,Name,Comment,Polarity,Subjectivity,P/N
Title,,,,,
"""3 Girls? We Don't Have Time"" | Pete Davidson SMD",67,67,67,67,67
"""Don't Lose Your Accent / Learning Accents"" - TREVOR NOAH (Pay Back The Funny)",6,6,6,6,6
"""Flying Into America"" - Trevor Noah - (Lost In Translation)",6,6,6,6,6
"""Lost Keys"" | Jo Koy : Lights Out",8,8,8,8,8
"""Rice is Rice"" | Jo Koy : Live from Seattle",24,24,24,24,24
...,...,...,...,...,...
When You're Late To Everything. Andy Woodhull,71,71,71,71,71
Whitney Cummings - I Love You - Marriage & Sex,46,46,46,46,46
Whitney Cummings | I'm Your Girlfriend: Women Paying,124,124,124,124,124
Why Arsenio Checks His Phone Before His Wife Can See | Netflix Is A Joke,22,22,22,22,22
Why Asians Are Good At Math - Jimmy O. Yang,13,13,13,13,13

In [13]:
data_SA[data_SA['P/N']==0]['Comment'][17750]

"We didn't create the blue's!... We didn't create hip hop neither!"

# Group data

In [14]:
df_dataSource = pd.read_excel('DataSource_80clips.xlsx')
df_titleWithComedian = pd.read_excel('Title_Comedian.xlsx')

Tit_func = lambda x: x.title()
comedians_name = df_titleWithComedian['Comedian'].apply(Tit_func)

df_dataSource[:1]
# comedians_name

,Who?,Comedian,Title,Link of the transcript,Transcript (CONTENT!!!!),Video link
0,Leo,Kevin Hart,Lying Will Ruin Your Life,https://www.wattpad.com/362679778-kevin-hart-l...,Lying will ruin your life. Lying will ruin you...,https://www.youtube.com/watch?v=EPoOBF8-Tvs&ab...

In [15]:
grouped_df = df_webapage.groupby("Title", as_index=False).count()
grouped_df = grouped_df.drop(['Thumbsup','Name','Comment'], axis=1)

grouped_df['Comedian'] = comedians_name
grouped_df

                                                Title          Comedian
0   "3 Girls? We Don't Have Time" | Pete Davidson SMD     Pete Davidson
1   "Don't Lose Your Accent / Learning Accents" - ...       Trevor Noah
2   "Flying Into America" - Trevor Noah - (Lost In...       Trevor Noah
3                   "Lost Keys" | Jo Koy : Lights Out            Jo Koy
4         "Rice is Rice" | Jo Koy : Live from Seattle            Jo Koy
..                                                ...               ...
75      When You're Late To Everything. Andy Woodhull     Andy Woodhull
76     Whitney Cummings - I Love You - Marriage & Sex  Whitney Cummings
77  Whitney Cummings | I'm Your Girlfriend: Women ...  Whitney Cummings
78  Why Arsenio Checks His Phone Before His Wife C...      Arsenio Hall
79        Why Asians Are Good At Math - Jimmy O. Yang     Jimmy O. Yang

[80 rows x 2 columns]

In [16]:
# merge two df by "title"
df = df_webapage.merge(grouped_df, left_on='Title', right_on='Title')
df = df[['Title','Comedian','Thumbsup','Name','Comment']]
df.to_pickle('./scrape_result_80_with_comedians.pkl')
df

,Title,Comedian,Thumbsup,Name,Comment
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,2400,Kenza B.,"He touched something really deep, first he ddn..."
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,1500,LMivha,How this man got his point across is absolute ...
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,1200,Marissa Urias,"Wow, people in the comments really don't get t..."
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,909,Riaz Uddin,"This is what I tell people all the time, just ..."
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,837,Shannon dobbs,They don't ask NUNS THAT! 🙄
...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,357 Magnum,I'm guessing he doesn't live in a colorblind w...
17749,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,3,Erin James,Then leave my dear friend. Youve been free for...
17750,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...
17751,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,2,ralph salotto,"Now that you mention it he's right, the Blues ..."
17752,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,Garbanzo Beans,Far more black people have migrated to the US ...

# User-Comedian Matrix

In [17]:
df_clean = df[['Name', 'Comedian']]
df_clean

                        Name      Comedian
0                   Kenza B.  Ramy Youssef
1                     LMivha  Ramy Youssef
2              Marissa Urias  Ramy Youssef
3                 Riaz Uddin  Ramy Youssef
4              Shannon dobbs  Ramy Youssef
...                      ...           ...
17748             357 Magnum  Roy Wood Jr.
17749             Erin James  Roy Wood Jr.
17750  I'm black So I'm slow  Roy Wood Jr.
17751          ralph salotto  Roy Wood Jr.
17752         Garbanzo Beans  Roy Wood Jr.

[17753 rows x 2 columns]

In [18]:
df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False).head(100)

                     Comedian
Name
whitepride1004             31
Sumukh                      7
Michael                     6
Green Envy                  6
Audrey New                  6
...                       ...
Bi- Han                     3
Lydia Waweru-Morgan         3
James Bond                  3
ADEDOTUN AKANDE             3
Xitsundzuxo Himina          3

[100 rows x 1 columns]

In [19]:
data_SA[data_SA['Name'] == 'Sumukh']

,Title,Name,Comment,Polarity,Subjectivity,P/N
515,Amy Schumer - Mostly Sex Stuff - Porn Endings,Sumukh,Lmfao “I had a busy month” 😆🤣🤣,0.10,0.3,1.0
1545,Bert Kreischer's Wife Caught Him Watching Porn...,Sumukh,Why this guy's t-shirt lying on stage ?,0.00,0.0,0.0
2764,Chris D'Elia - Wanna be Gangster,Sumukh,He pulled off multiple DJ Khaled 's there 😂,0.00,0.0,0.0
5783,Joe Rogan Explains How Men Are Like Cats | Net...,Sumukh,The cat impression is uncanny 😂,0.00,0.0,0.0
10125,Kevin Hart's House Got Robbed | Netflix Is A Joke,Sumukh,The scary background music makes it even funni...,0.05,1.0,1.0
11964,Mark Normand Stand-Up,Sumukh,Gosh i love how he delivers,0.50,0.6,1.0
12363,Mark Normand - Everything’s Tense,Sumukh,“thanks a lot I'm Kevin Hart !”,0.25,0.2,1.0

In [20]:
df_clean['duplicate'] = df_clean.duplicated()
df_clean = df_clean[~df_clean['duplicate']]
df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False).head(100)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                       Comedian  duplicate
Name
Sumukh                        6          6
Adam Szasz                    5          5
Green Envy                    5          5
Whyinem                       5          5
matthew styles                5          5
...                         ...        ...
Devdan Louis Spurlock         2          2
Zach                          2          2
Jacob Erickson                2          2
Ashish Kumar                  2          2
Ludmilla Gutomo               2          2

[100 rows x 2 columns]

In [21]:
data_SA[data_SA['Name'] == 'Kurt Sudheim']

,Title,Name,Comment,Polarity,Subjectivity,P/N
1369,Bert Kreischer's Wife Caught Him Watching Porn...,Kurt Sudheim,"""11:30 on a Tues afternoon"" haha",0.200000,0.300000,1.0
4771,Iliza Shlesinger's To Do List Before Your Wedd...,Kurt Sudheim,"Just stupid extra info, you don't lose any m...",-0.356250,0.531250,-1.0
5430,Jim Jefferies Refuses the Whole Lotion Routine...,Kurt Sudheim,That: but not today! But was perfect,1.000000,1.000000,1.0
5431,Jim Jefferies Refuses the Whole Lotion Routine...,Kurt Sudheim,Anybody remember that line from: Get him to th...,0.036364,0.415152,1.0

In [22]:
# Select the top 100 users 
users = df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False).head(100).index
users

Index(['Sumukh', 'Adam Szasz', 'Green Envy', 'Whyinem', 'matthew styles',
       'Michael', 'Ian Crouch', 'Xfirex Xbites', 'Panos kanos', 'Papa Grounds',
       'Tyrone Frye', 'Wuft Chan', 'P V', 'John Smith', 'Jennifer Bates',
       'Michiko Manalang', 'Claudia Solomon', 'EaST CoAsT MaCHete',
       'BabyChainGang', 'Cynthia Copland', 'Mike bee', 'Real Talk', 'R. A.',
       'Cleveland Maker', 'Anton Nym', 'A', 'Michael Pipkin', 'J',
       'xirsamoht x', 'Remedy', 'John Paul Lafferty', 'A B', 'That Guy',
       'Niko', 'yew 2oob', 'A M', 'A Z', 'Kurt Sudheim', 'Sam', 'black bird',
       'Mike Jones', 'Anna markandan', 'Lydia Waweru-Morgan', 'Kevin Smith',
       'R B', 'L K', 'Jay Jay', 'Bonafide Slacker', 'Andrew Wiggin',
       'Vikram Singh', 'Tommaso Urbisci',
       'Comedy Central Stand-Up\n\n\n\n      \n    Comedy Central Stand-Up',
       'brainflash1', 'Stacy Melanson', 'Allison Linner', 'John Doe',
       'Christopher', 'K M', 'Tragoudistros.MPH', 'Audrey New', 'J C',
       'James Bond', 'CamTheDestroyer', 'g', 'Glenn Davey',
       'Mattastic Mattattack', 'Dee Cohen', 'Meagan Woolstrum', 'Peter E',
       'Rob', 'Michelle McFarland', 'Ethan Hayden', 'dan lowe', 'Bi- Han',
       'S G', 'Michael Sorrentino', 'Chris young', 'ADEDOTUN AKANDE', 'Alex',
       'M S', 'Yootub Apesta', 'Pauline Peppler', 'M A', 'M B', 'M D',
       'JUDALATION gamestrodamous', 'Lowkey Arki', 'William Latson', 'M M',
       'opeyemi uthman', 'William Sullivan', 'Sitharos', 'Lion of Apollo',
       'WildWilly BroCro', 'J L', 'Devdan Louis Spurlock', 'Zach',
       'Jacob Erickson', 'Ashish Kumar', 'Ludmilla Gutomo'],
      dtype='object', name='Name')

In [23]:
unique_comedians = list(set(df_clean.Comedian))
len(list(set(df_clean.Comedian)))

42

In [24]:
df_ucm = pd.DataFrame(0, index=users, columns=unique_comedians)
df_ucm

,Neal Brennan,Russell Peters,Kenny Sebastian,Vir Das,Chris D'Elia,Andy Woodhull,Mike Epps,Hannah Gadsby,Jim Jefferies,Chris Rock,...,Bert Kreischer,Joe Rogan,Dave Chappelle,Eric Andre,Trevor Noah,Michelle Wolf,Amy Schumer,Aziz Ansari,Ronny Chieng,Iliza Shlesinger
Name,,,,,,,,,,,,,,,,,,,,,
Sumukh,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Adam Szasz,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Green Envy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Whyinem,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
matthew styles,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Devdan Louis Spurlock,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Zach,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jacob Erickson,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ashish Kumar,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Ludmilla Gutomo,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [25]:
df_score_data = data_SA.merge(grouped_df, left_on='Title', right_on='Title')
df_score_data

,Title,Name,Comment,Polarity,Subjectivity,P/N,Comedian
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917,-1.0,Ramy Youssef
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000,1.0,Ramy Youssef
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000,1.0,Ramy Youssef
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750,-1.0,Ramy Youssef
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! 🙄,0.000000,0.000000,0.0,Ramy Youssef
...,...,...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333,-1.0,Roy Wood Jr.
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333,-1.0,Roy Wood Jr.
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000,0.0,Roy Wood Jr.
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905,1.0,Roy Wood Jr.
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238,1.0,Roy Wood Jr.

In [26]:
df_avg_score = df_score_data.groupby(['Comedian','Name'], as_index=False).mean()
df_avg_score
# test = df_score_data.groupby(['Comedian','Name'], as_index=False).mean()
# test[test['P/N']<0.9].sort_values(by='P/N', ascending=False)

,Comedian,Name,Polarity,Subjectivity,P/N
0,Amy Schumer,02. Vernita Green Beatrix KiDDo,0.000000,0.000000,0.0
1,Amy Schumer,100cincinnati,-0.291667,0.541667,-1.0
2,Amy Schumer,@wordzgirl,0.145429,0.624579,1.0
3,Amy Schumer,A,0.875000,0.900000,1.0
4,Amy Schumer,A Diet Called Sεx,0.000000,0.000000,0.0
...,...,...,...,...,...
17136,Whitney Cummings,yew 2oob,0.800000,0.750000,1.0
17137,Whitney Cummings,zhanna davidova,0.000000,0.000000,0.0
17138,Whitney Cummings,zja42188,0.156250,0.666667,1.0
17139,Whitney Cummings,のぢGrey,0.800000,1.000000,1.0
17140,Whitney Cummings,王 アテム空白Le Chiffre,0.000000,0.000000,0.0

In [27]:
user_name = df_avg_score['Name']
comedian_name = df_avg_score['Comedian']
score = df_avg_score['P/N']
for u,c,s in zip(user_name,comedian_name,score):
    df_ucm.loc[u, c] = s
df_ucm

,Neal Brennan,Russell Peters,Kenny Sebastian,Vir Das,Chris D'Elia,Andy Woodhull,Mike Epps,Hannah Gadsby,Jim Jefferies,Chris Rock,...,Bert Kreischer,Joe Rogan,Dave Chappelle,Eric Andre,Trevor Noah,Michelle Wolf,Amy Schumer,Aziz Ansari,Ronny Chieng,Iliza Shlesinger
Name,,,,,,,,,,,,,,,,,,,,,
Sumukh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Adam Szasz,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Green Envy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Whyinem,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
matthew styles,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yerowww666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zhanna davidova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zja42188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
のぢGrey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
王 アテム空白Le Chiffre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df_ucm.to_pickle('./user_comedian_matrix.pkl')

In [29]:
ddd = pd.read_pickle('./user_comedian_matrix.pkl')
ddd

,Neal Brennan,Russell Peters,Kenny Sebastian,Vir Das,Chris D'Elia,Andy Woodhull,Mike Epps,Hannah Gadsby,Jim Jefferies,Chris Rock,...,Bert Kreischer,Joe Rogan,Dave Chappelle,Eric Andre,Trevor Noah,Michelle Wolf,Amy Schumer,Aziz Ansari,Ronny Chieng,Iliza Shlesinger
Name,,,,,,,,,,,,,,,,,,,,,
Sumukh,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
Adam Szasz,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Green Envy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
Whyinem,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0
matthew styles,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,-0.5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
yerowww666,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zhanna davidova,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
zja42188,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
のぢGrey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
王 アテム空白Le Chiffre,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN