In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from textblob import TextBlob as tb # Sentiment analysis
import random

In [3]:
df_webapage = pd.read_pickle('./scrape_result_80.pkl')

In [4]:
pol = lambda x: tb(x).sentiment.polarity
sub = lambda x: tb(x).sentiment.subjectivity

data_SA = pd.DataFrame()
data_SA['Title'] = df_webapage['Title']
data_SA['Name'] = df_webapage['Name']
data_SA['Comment'] = df_webapage['Comment']
data_SA['Polarity'] = df_webapage['Comment'].apply(pol)
data_SA['Subjectivity'] = df_webapage['Comment'].apply(sub)
data_SA

,Title,Name,Comment,Polarity,Subjectivity
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! ðŸ™„,0.000000,0.000000
...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238

In [5]:
PorN = lambda x: x*0 if x==0 else (x*(1/x) if x>0 else x*(-1/x))
data_SA['P/N'] = data_SA['Polarity'].apply(PorN)
data_SA

,Title,Name,Comment,Polarity,Subjectivity,P/N
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917,-1.0
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000,1.0
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000,1.0
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750,-1.0
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! ðŸ™„,0.000000,0.000000,0.0
...,...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333,-1.0
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333,-1.0
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000,0.0
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905,1.0
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238,1.0

In [6]:
data_SA = data_SA[data_SA.Subjectivity != 0]

# Group data

In [7]:
df_dataSource = pd.read_excel('DataSource_80clips.xlsx')
df_titleWithComedian = pd.read_excel('Title_Comedian.xlsx')

Tit_func = lambda x: x.title()
df_titleWithComedian['Comedian'] = df_titleWithComedian['Comedian'].apply(Tit_func)
comedians_name = df_titleWithComedian['Comedian'].apply(Tit_func)

df_dataSource[:1]

,Who?,Comedian,Title,Link of the transcript,Transcript (CONTENT!!!!),Video link
0,Leo,Kevin Hart,Lying Will Ruin Your Life,https://www.wattpad.com/362679778-kevin-hart-l...,Lying will ruin your life. Lying will ruin you...,https://www.youtube.com/watch?v=EPoOBF8-Tvs&ab...

In [8]:
dd2 = df_dataSource.sort_values(by='Comedian')
dd2.to_csv('ahsifuho.csv')

In [9]:
dd = df_titleWithComedian.sort_values(by='Comedian')
print(len(dd['Comedian'].unique()))
dd.to_csv('dd.csv')

42

In [10]:
grouped_df = df_webapage.groupby("Title", as_index=False).count()
grouped_df = grouped_df.drop(['Thumbsup','Name','Comment'], axis=1)

grouped_df['Comedian'] = comedians_name
grouped_df

                                                Title          Comedian
0   "3 Girls? We Don't Have Time" | Pete Davidson SMD     Pete Davidson
1   "Don't Lose Your Accent / Learning Accents" - ...       Trevor Noah
2   "Flying Into America" - Trevor Noah - (Lost In...       Trevor Noah
3                   "Lost Keys" | Jo Koy : Lights Out            Jo Koy
4         "Rice is Rice" | Jo Koy : Live from Seattle            Jo Koy
..                                                ...               ...
75      When You're Late To Everything. Andy Woodhull     Andy Woodhull
76     Whitney Cummings - I Love You - Marriage & Sex  Whitney Cummings
77  Whitney Cummings | I'm Your Girlfriend: Women ...  Whitney Cummings
78  Why Arsenio Checks His Phone Before His Wife C...      Arsenio Hall
79        Why Asians Are Good At Math - Jimmy O. Yang     Jimmy O. Yang

[80 rows x 2 columns]

In [11]:
# merge two df by "title"
df = df_webapage.merge(grouped_df, left_on='Title', right_on='Title')
df = df[['Title','Comedian','Thumbsup','Name','Comment']]
df.to_pickle('./scrape_result_80_with_comedians.pkl')
df

,Title,Comedian,Thumbsup,Name,Comment
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,2400,Kenza B.,"He touched something really deep, first he ddn..."
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,1500,LMivha,How this man got his point across is absolute ...
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,1200,Marissa Urias,"Wow, people in the comments really don't get t..."
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,909,Riaz Uddin,"This is what I tell people all the time, just ..."
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,837,Shannon dobbs,They don't ask NUNS THAT! ðŸ™„
...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,357 Magnum,I'm guessing he doesn't live in a colorblind w...
17749,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,3,Erin James,Then leave my dear friend. Youve been free for...
17750,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...
17751,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,2,ralph salotto,"Now that you mention it he's right, the Blues ..."
17752,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,Garbanzo Beans,Far more black people have migrated to the US ...

# User-Comedian Matrix

In [12]:
df_clean = df[['Name', 'Comedian']]
df_clean

                        Name      Comedian
0                   Kenza B.  Ramy Youssef
1                     LMivha  Ramy Youssef
2              Marissa Urias  Ramy Youssef
3                 Riaz Uddin  Ramy Youssef
4              Shannon dobbs  Ramy Youssef
...                      ...           ...
17748             357 Magnum  Roy Wood Jr.
17749             Erin James  Roy Wood Jr.
17750  I'm black So I'm slow  Roy Wood Jr.
17751          ralph salotto  Roy Wood Jr.
17752         Garbanzo Beans  Roy Wood Jr.

[17753 rows x 2 columns]

In [13]:
df_clean['duplicate'] = df_clean.duplicated()
df_clean = df_clean[~df_clean['duplicate']]
df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                Comedian  duplicate
Name
Sumukh                 6          6
Adam Szasz             5          5
Green Envy             5          5
Whyinem                5          5
matthew styles         5          5
...                  ...        ...
Jason Harris           1          1
Jason JA               1          1
Jason Johnson          1          1
Jason Juarez           1          1
Mike S                 1          1

[16582 rows x 2 columns]

In [14]:
df_score = data_SA.merge(grouped_df, left_on='Title', right_on='Title')
df_score

,Title,Name,Comment,Polarity,Subjectivity,P/N,Comedian
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917,-1.0,Ramy Youssef
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000,1.0,Ramy Youssef
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000,1.0,Ramy Youssef
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750,-1.0,Ramy Youssef
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,sonia khan,The patriarchy in the west wants women to look...,0.221591,0.437500,1.0,Ramy Youssef
...,...,...,...,...,...,...,...
11826,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333,-1.0,Roy Wood Jr.
11827,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333,-1.0,Roy Wood Jr.
11828,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000,0.0,Roy Wood Jr.
11829,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905,1.0,Roy Wood Jr.
11830,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238,1.0,Roy Wood Jr.

In [15]:
df_avg_score = df_score.groupby(['Comedian','Name'], as_index=False).mean()
df_avg_score
# test = df_score_data.groupby(['Comedian','Name'], as_index=False).mean()
# test[test['P/N']<0.9].sort_values(by='P/N', ascending=False)

               Comedian           Name  Polarity  Subjectivity  P/N
0           Amy Schumer  100cincinnati -0.291667      0.541667 -1.0
1           Amy Schumer     @wordzgirl  0.145429      0.624579  1.0
2           Amy Schumer              A  0.875000      0.900000  1.0
3           Amy Schumer        AVOLITE  0.120833      0.600000  1.0
4           Amy Schumer    Aaron Ennis  0.092424      0.704040  1.0
...                 ...            ...       ...           ...  ...
11519  Whitney Cummings      xoxo xoxo -0.016667      0.433333 -1.0
11520  Whitney Cummings     yerowww666  0.216667      0.666667  1.0
11521  Whitney Cummings       yew 2oob  0.800000      0.750000  1.0
11522  Whitney Cummings       zja42188  0.156250      0.666667  1.0
11523  Whitney Cummings         ã®ã¢Grey  0.800000      1.000000  1.0

[11524 rows x 5 columns]

## [Find which comedian have most appearance in different users]

In [16]:
df_clean = df[['Name', 'Comedian']]
df_clean['duplicate'] = df_clean.duplicated()
df_clean = df_clean[~df_clean['duplicate']]
df_clean = df_clean.drop('duplicate',axis=1)
users = df_clean.groupby('Name',as_index=False).count().sort_values(by='Comedian', ascending=False)['Name']
np.array(users).shape

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(16582,)

In [17]:
df_clean.groupby('Name',as_index=False).count().sort_values(by='Comedian', ascending=False)

                 Name  Comedian
11918          Sumukh         6
401        Adam Szasz         5
4602       Green Envy         5
13249         Whyinem         5
15242  matthew styles         5
...               ...       ...
5602     Jason Harris         1
5603         Jason JA         1
5604    Jason Johnson         1
5605     Jason Juarez         1
8291           Mike S         1

[16582 rows x 2 columns]

## User-Comedian Matrix

In [18]:
df = df_avg_score.pivot_table(index=['Name'], columns=['Comedian'],values=['P/N'], aggfunc='mean')
rename_columns = [c[1] for c in df.columns]
df.columns = rename_columns
df.to_pickle('full_user_comedian_matrix_withPN.pkl')
df

,Amy Schumer,Andy Woodhull,Arsenio Hall,Aziz Ansari,Bert Kreischer,Bill Burr,Chris D'Elia,Chris Rock,Dave Chappelle,Eric Andre,...,Ronny Chieng,Roy Wood Jr.,Russell Peters,Sebastian Maniscalco,Tiffany Haddish,Tom Segura,Trevor Noah,Urzila Carlson,Vir Das,Whitney Cummings
Name,,,,,,,,,,,,,,,,,,,,,
"""mOON'S pLACE"" Â© WITH PETER MOON",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
#MONSTAXGANG #MONBEBEGANG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
*á’ªá—©á—ªY á¯Oá’ªá—ªEá—°Oá–‡T*,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN
--,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ê§Med_Mê§‚,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN
ê³µê²½ìš¸,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
íŒ©íŠ¸í­í–‰,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
í›„ìŸŒ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,-1.0,NaN,NaN,NaN
ðŸ’¥warpedðŸ’¥,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
df_UCM = df_avg_score.pivot_table(index=['Name'], columns=['Comedian'],values=['Subjectivity'], aggfunc='mean')
rename_columns = [c[1] for c in df_UCM.columns]
df_UCM.columns = rename_columns
df_UCM.to_pickle('full_user_comedian_matrix_OriginalPolarity.pkl')
df_UCM

,Amy Schumer,Andy Woodhull,Arsenio Hall,Aziz Ansari,Bert Kreischer,Bill Burr,Chris D'Elia,Chris Rock,Dave Chappelle,Eric Andre,...,Ronny Chieng,Roy Wood Jr.,Russell Peters,Sebastian Maniscalco,Tiffany Haddish,Tom Segura,Trevor Noah,Urzila Carlson,Vir Das,Whitney Cummings
Name,,,,,,,,,,,,,,,,,,,,,
"""mOON'S pLACE"" Â© WITH PETER MOON",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.4375
#MONSTAXGANG #MONBEBEGANG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.700000,NaN,NaN,NaN
*á’ªá—©á—ªY á¯Oá’ªá—ªEá—°Oá–‡T*,NaN,0.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
--,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ê§Med_Mê§‚,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.433333,NaN,NaN,NaN
ê³µê²½ìš¸,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
íŒ©íŠ¸í­í–‰,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
í›„ìŸŒ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.525000,NaN,NaN,NaN
ðŸ’¥warpedðŸ’¥,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.975,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Compress rows (10 to 1)

In [20]:
# First give each row a group number
ddd = df_UCM.copy()
ddd = ddd.reset_index()
ddd = ddd.rename(columns={'Name':'User_ID'})
ddd['User_ID'] = ddd.index%(int(len(ddd.index)/10))

# Group by the group number
ddd = ddd.groupby('User_ID').mean()
ddd.index = [f"User{i}" for i in ddd.index]
ddd.to_pickle('Full_UCM.pkl')
ddd

,Amy Schumer,Andy Woodhull,Arsenio Hall,Aziz Ansari,Bert Kreischer,Bill Burr,Chris D'Elia,Chris Rock,Dave Chappelle,Eric Andre,...,Ronny Chieng,Roy Wood Jr.,Russell Peters,Sebastian Maniscalco,Tiffany Haddish,Tom Segura,Trevor Noah,Urzila Carlson,Vir Das,Whitney Cummings
User0,NaN,NaN,NaN,NaN,0.4,NaN,NaN,NaN,NaN,NaN,...,0.444805,NaN,NaN,0.422222,NaN,NaN,NaN,1.0,NaN,0.437500
User1,0.3625,NaN,0.75,NaN,NaN,0.35000,0.900000,NaN,NaN,NaN,...,0.266667,NaN,NaN,NaN,NaN,NaN,0.700000,NaN,0.50,NaN
User2,NaN,0.550000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.526389,NaN,NaN,NaN,NaN,NaN,NaN
User3,NaN,NaN,NaN,NaN,NaN,NaN,0.500000,NaN,NaN,NaN,...,NaN,0.725000,NaN,0.875000,NaN,NaN,0.716667,NaN,NaN,0.708333
User4,NaN,NaN,NaN,NaN,0.2,NaN,0.600000,NaN,NaN,NaN,...,NaN,NaN,NaN,0.600000,NaN,NaN,0.700000,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
User1116,NaN,NaN,0.55,NaN,0.7,0.55625,NaN,NaN,NaN,NaN,...,NaN,0.466667,NaN,0.800000,NaN,NaN,1.000000,NaN,NaN,NaN
User1117,NaN,NaN,NaN,NaN,NaN,NaN,0.650000,NaN,0.666667,NaN,...,0.308333,NaN,NaN,0.400000,NaN,NaN,NaN,NaN,NaN,NaN
User1118,0.1250,0.470000,NaN,NaN,NaN,NaN,0.466667,NaN,NaN,NaN,...,NaN,NaN,NaN,0.300000,NaN,NaN,NaN,NaN,0.25,1.000000
User1119,1.0000,0.577778,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.517857,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN
User1120,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.525000,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
# The minimun/maiximum numbers of user rating of all comedians
print(min(ddd.shape[0] - ddd.isna().sum()), max(ddd.shape[0] - ddd.isna().sum()))

25 936

In [22]:
# The minimum/maixmum numbers of rating of all users
df = ddd.transpose()
print(min(df.shape[0] - df.isna().sum()), max(df.shape[0] - df.isna().sum()))

4 14

## Split to train and test dataset

In [23]:
stack = ddd.stack()
data = np.array([[v[0], v[1]] for v in stack.index])
dataset = pd.DataFrame(data, columns=['Name', 'Comedian'])
dataset

          Name              Comedian
0        User0        Bert Kreischer
1        User0      Iliza Shlesinger
2        User0             Joe Rogan
3        User0       Kenny Sebastian
4        User0          Mark Normand
...        ...                   ...
9192  User1120         Jimmy O. Yang
9193  User1120            Kevin Hart
9194  User1120         Michelle Wolf
9195  User1120         Pete Davidson
9196  User1120  Sebastian Maniscalco

[9197 rows x 2 columns]

In [24]:
user_comedian = {}
for k, v in dataset.iterrows():
    user = v.Name
    comedian = v.Comedian
    if user not in user_comedian:
        user_comedian[user] = [comedian]
    else:
        user_comedian[user].append(comedian)

train_df = pd.DataFrame(columns=['Name', 'Comedian'])
test_df = pd.DataFrame(columns=['Name', 'Comedian'])
for k, v in user_comedian.items():
    n = len(v)
    if n < 6:
        test_size = 1
    elif n < 9:
        test_size = 2
    else:
        test_size = 3
    random.shuffle(v)
    for com in v[:(n-test_size)]:
        train_df = train_df.append({'Name':k, 'Comedian':com}, ignore_index=True)
    for com in v[-test_size:]:
        test_df = test_df.append({'Name':k, 'Comedian':com}, ignore_index=True)

In [25]:
train_df.to_csv('training_set.csv')
train_df

          Name              Comedian
0        User0      Whitney Cummings
1        User0             Joe Rogan
2        User0        Bert Kreischer
3        User0       Kenny Sebastian
4        User0          Ronny Chieng
...        ...                   ...
6504  User1120  Sebastian Maniscalco
6505  User1120            Kevin Hart
6506  User1120          Hasan Minhaj
6507  User1120         Michelle Wolf
6508  User1120         Pete Davidson

[6509 rows x 2 columns]

In [26]:
test_df.to_csv('test_set.csv')
test_df

          Name              Comedian
0        User0  Sebastian Maniscalco
1        User0          Mark Normand
2        User0        Urzila Carlson
3        User1           Trevor Noah
4        User1         Pete Davidson
...        ...                   ...
2683  User1119          Ronny Chieng
2684  User1119         Andy Woodhull
2685  User1119           Trevor Noah
2686  User1120      Iliza Shlesinger
2687  User1120         Jimmy O. Yang

[2688 rows x 2 columns]

# Comments whose subjectivity is 0

In [27]:
print('\n'.join(np.array(df_score[df_score.Subjectivity == 0].Comment)))