# Create Neo4j Database

### Retrieve Required Data

In [1]:
import pandas as pd

In [4]:
# User comedian matrix
matrix_filename = './user_comedian_matrix/AAA_user_comedian_matrix.pkl'
ucm_df = pd.read_pickle(matrix_filename)
ucm_df.head()

,jo koy,kenny sebastian,iliza shlesinger,tom segura,aziz ansari,andy woodhull,vir das,michael che,trevor noah,joe rogan,...,urzila carlson:,tiffany haddish,marc maron,dave chappelle,eric andre,bill burr,jimmy o. yang,michelle wolf,jack whitehall,hasan minhaj
Name,,,,,,,,,,,,,,,,,,,,,
Sumukh,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Audrey New,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Whyinem,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Green Envy,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Adam Szasz,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [5]:
# Comedian & keywords

In [8]:
# Users and Comedians 
users = ucm_df.index
comedians = ucm_df.columns

### Build the graph in neo4j

In [31]:
from py2neo import Graph, Node, Relationship

In [14]:
host = "localhost"
password = "0000"
graph = Graph(host=host, password=password)

In [39]:
# Delete all nodes and relationships
# DELETE_QUERY = "MATCH (n) DETACH DELETE n"
# _ = graph.run(DELETE_QUERY)

In [40]:
# Add all user nodes
query = graph.begin()
for user in users:
    p = Node("Person", name=user)
    query.create(p)
_ = query.commit()

In [41]:
# Add all comedian nodes
query = graph.begin()
for comedian in comedians:
    p = Node("Comedian", name=comedian)
    query.create(p)
_ = query.commit()

In [ ]:
# Add all comedian property nodes

In [ ]:
# Build relationships for users and comedians

# query = graph.begin()
#Relationship(a, "Commented", b)
# _ = query.commit()