In [45]:
# ! pip3 install xlrd
# ! pip3 install textblob
! pip3 install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.5-py2.py3-none-any.whl (242 kB)
     |‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà‚ñà| 242 kB 1.6 MB/s
Collecting jdcal
  Using cached jdcal-1.4.1-py2.py3-none-any.whl (9.5 kB)
Collecting et-xmlfile
  Using cached et_xmlfile-1.0.1.tar.gz (8.4 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8914 sha256=b5d00ba7b1120013699ee4be58983fc733e111b468057f5d9db4105f9ecd2064
  Stored in directory: /Users/leo/Library/Caches/pip/wheels/ef/92/e0/956c00decf3091294b8800d9104f6169a1adacfaafd122ed42
Successfully built et-xmlfile
Installing collected packages: jdcal, et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 jdcal-1.4.1 openpyxl-3.0.5

In [135]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from textblob import TextBlob as tb # Sentiment analysis

In [136]:
# print(tb('black').sentiment.polarity)
# print(tb('Welcome to the new Comedy Central Stand-Up YouTube channel! Hit subscribe for new, exclusive stand-up videos every week.').sentiment.polarity)

In [137]:
df_webapage = pd.read_pickle('./scrape_result_80.pkl')

In [138]:
# dd = df_webapage
# dd['idx'] = dd['Name'].str.find('Central') 
# dd2 = dd[dd['idx']!=-1]
# dd2

In [139]:
df_name = df_webapage.groupby(["Name"], sort=True).agg(['count']).Title.sort_values('count', ascending=False)
df_name.head(100)

                     count
Name
whitepride1004          31
Sumukh                   7
Michael                  6
Green Envy               6
Audrey New               6
...                    ...
Bi- Han                  3
Lydia Waweru-Morgan      3
James Bond               3
ADEDOTUN AKANDE          3
Xitsundzuxo Himina       3

[100 rows x 1 columns]

In [140]:
pol = lambda x: tb(x).sentiment.polarity
sub = lambda x: tb(x).sentiment.subjectivity

data_SA = pd.DataFrame()
data_SA['Title'] = df_webapage['Title']
data_SA['Name'] = df_webapage['Name']
data_SA['Comment'] = df_webapage['Comment']
data_SA['Polarity'] = df_webapage['Comment'].apply(pol)
data_SA['Subjectivity'] = df_webapage['Comment'].apply(sub)
data_SA

,Title,Name,Comment,Polarity,Subjectivity
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! üôÑ,0.000000,0.000000
...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238

In [141]:
# data_SA['Comment'][17750]

In [142]:
PorN = lambda x: x*0 if x==0 else (x*(1/x) if x>0 else x*(-1/x))
data_SA['P/N'] = data_SA['Polarity'].apply(PorN)
data_SA

,Title,Name,Comment,Polarity,Subjectivity,P/N
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917,-1.0
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000,1.0
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000,1.0
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750,-1.0
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! üôÑ,0.000000,0.000000,0.0
...,...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333,-1.0
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333,-1.0
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000,0.0
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905,1.0
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238,1.0

In [56]:
# data_SA[data_SA['P/N']==1].groupby(['Title']).count()

In [143]:
# data_SA[data_SA['P/N']==-1].groupby(['Title']).count().head()

In [82]:
# res = data_SA[['Title','P/N']].groupby(['Title']).sum()
# res

In [83]:
# res[res['P/N']>0]

In [144]:
# data_SA[data_SA['P/N']==0].groupby(['Title']).count()

In [145]:
# data_SA[data_SA['P/N']==0]['Comment'][17750]

# Group data

In [146]:
df_dataSource = pd.read_excel('DataSource_80clips.xlsx')
df_titleWithComedian = pd.read_excel('Title&Comedian.xlsx')

Tit_func = lambda x: x.title()
comedians_name = df_titleWithComedian['Comedian'].apply(Tit_func)

df_dataSource[:1]

,Who?,Comedian,Title,Link of the transcript,Transcript (CONTENT!!!!),Video link,Unnamed: 6,note,Unnamed: 8,Unnamed: 9
0,Leo,Kevin Hart,Lying Will Ruin Your Life,https://www.wattpad.com/362679778-kevin-hart-l...,Lying will ruin your life. Lying will ruin you...,https://www.youtube.com/watch?v=EPoOBF8-Tvs&ab...,NaN,NaN,NaN,https://genius.com/Kevin-hart-let-me-explain-t...

In [147]:
grouped_df = df_webapage.groupby("Title", as_index=False).count()
grouped_df = grouped_df.drop(['Thumbsup','Name','Comment'], axis=1)

grouped_df['Comedian'] = comedians_name
grouped_df

                                                Title          Comedian
0   "3 Girls? We Don't Have Time" | Pete Davidson SMD     Pete Davidson
1   "Don't Lose Your Accent / Learning Accents" - ...       Trevor Noah
2   "Flying Into America" - Trevor Noah - (Lost In...       Trevor Noah
3                   "Lost Keys" | Jo Koy : Lights Out            Jo Koy
4         "Rice is Rice" | Jo Koy : Live from Seattle            Jo Koy
..                                                ...               ...
75      When You're Late To Everything. Andy Woodhull     Andy Woodhull
76     Whitney Cummings - I Love You - Marriage & Sex  Whitney Cummings
77  Whitney Cummings | I'm Your Girlfriend: Women ...  Whitney Cummings
78  Why Arsenio Checks His Phone Before His Wife C...           Arsenio
79        Why Asians Are Good At Math - Jimmy O. Yang     Jimmy O. Yang

[80 rows x 2 columns]

In [148]:
# merge two df by "title"
df = df_webapage.merge(grouped_df, left_on='Title', right_on='Title')
df = df[['Title','Comedian','Thumbsup','Name','Comment']]
df.to_pickle('./scrape_result_80_with_comedians.pkl')
df

,Title,Comedian,Thumbsup,Name,Comment
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,2400,Kenza B.,"He touched something really deep, first he ddn..."
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,1500,LMivha,How this man got his point across is absolute ...
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,1200,Marissa Urias,"Wow, people in the comments really don't get t..."
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,909,Riaz Uddin,"This is what I tell people all the time, just ..."
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,837,Shannon dobbs,They don't ask NUNS THAT! üôÑ
...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,357 Magnum,I'm guessing he doesn't live in a colorblind w...
17749,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,3,Erin James,Then leave my dear friend. Youve been free for...
17750,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...
17751,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,2,ralph salotto,"Now that you mention it he's right, the Blues ..."
17752,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,Garbanzo Beans,Far more black people have migrated to the US ...

In [82]:
# df[df['Comedian']=='Oj Simpson']

# User-Comedian Matrix

In [149]:
df_clean = df[['Name', 'Comedian']]
df_clean

                        Name      Comedian
0                   Kenza B.  Ramy Youssef
1                     LMivha  Ramy Youssef
2              Marissa Urias  Ramy Youssef
3                 Riaz Uddin  Ramy Youssef
4              Shannon dobbs  Ramy Youssef
...                      ...           ...
17748             357 Magnum  Roy Wood Jr.
17749             Erin James  Roy Wood Jr.
17750  I'm black So I'm slow  Roy Wood Jr.
17751          ralph salotto  Roy Wood Jr.
17752         Garbanzo Beans  Roy Wood Jr.

[17753 rows x 2 columns]

In [150]:
df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False).head(100)

                     Comedian
Name
whitepride1004             31
Sumukh                      7
Michael                     6
Green Envy                  6
Audrey New                  6
...                       ...
Bi- Han                     3
Lydia Waweru-Morgan         3
James Bond                  3
ADEDOTUN AKANDE             3
Xitsundzuxo Himina          3

[100 rows x 1 columns]

In [151]:
data_SA[data_SA['Name'] == 'Sumukh']

,Title,Name,Comment,Polarity,Subjectivity,P/N
515,Amy Schumer - Mostly Sex Stuff - Porn Endings,Sumukh,Lmfao ‚ÄúI had a busy month‚Äù üòÜü§£ü§£,0.10,0.3,1.0
1545,Bert Kreischer's Wife Caught Him Watching Porn...,Sumukh,Why this guy's t-shirt lying on stage ?,0.00,0.0,0.0
2764,Chris D'Elia - Wanna be Gangster,Sumukh,He pulled off multiple DJ Khaled 's there üòÇ,0.00,0.0,0.0
5783,Joe Rogan Explains How Men Are Like Cats | Net...,Sumukh,The cat impression is uncanny üòÇ,0.00,0.0,0.0
10125,Kevin Hart's House Got Robbed | Netflix Is A Joke,Sumukh,The scary background music makes it even funni...,0.05,1.0,1.0
11964,Mark Normand Stand-Up,Sumukh,Gosh i love how he delivers,0.50,0.6,1.0
12363,Mark Normand - Everything‚Äôs Tense,Sumukh,‚Äúthanks a lot I'm Kevin Hart !‚Äù,0.25,0.2,1.0

In [152]:
df_clean['duplicate'] = df_clean.duplicated()
df_clean = df_clean[~df_clean['duplicate']]
df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False).head(80)

                    Comedian  duplicate
Name
Sumukh                     6          6
Adam Szasz                 5          5
Green Envy                 5          5
Whyinem                    5          5
matthew styles             5          5
...                      ...        ...
S G                        3          3
Michael Sorrentino         3          3
Chris young                3          3
ADEDOTUN AKANDE            3          3
Alex                       3          3

[80 rows x 2 columns]

In [153]:
# data_SA[data_SA['Name'] == 'Kurt Sudheim']

In [154]:
# Select the top 80 users 
df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False).head(80).index

Index(['Sumukh', 'Adam Szasz', 'Green Envy', 'Whyinem', 'matthew styles',
       'Michael', 'Ian Crouch', 'Xfirex Xbites', 'Panos kanos', 'Papa Grounds',
       'brainflash1', 'Tyrone Frye', 'John Smith', 'P V', 'Wuft Chan',
       'Jennifer Bates', 'Michiko Manalang', 'Claudia Solomon',
       'EaST CoAsT MaCHete', 'Mike bee', 'Tommaso Urbisci', 'BabyChainGang',
       'R. A.', 'Real Talk', 'Cleveland Maker', 'Anton Nym', 'Bi- Han',
       'Michael Pipkin', 'J', 'xirsamoht x', 'Remedy', 'John Paul Lafferty',
       'A B', 'That Guy', 'Niko', 'A M', 'Kurt Sudheim', 'A Z', 'Sam',
       'Mike Jones', 'black bird', 'Anna markandan', 'Vmundo Ortiz',
       'Lydia Waweru-Morgan', 'yew 2oob', 'Kevin Smith', 'L K', 'Jay Jay',
       'Bonafide Slacker', 'R B', 'Andrew Wiggin', 'Vikram Singh',
       'Comedy Central Stand-Up\n\n\n\n      \n    Comedy Central Stand-Up',
       'Cynthia Copland', 'Stacy Melanson', 'Allison Linner', 'John Doe',
       'Christopher', 'K M', 'Tragoudistros.MPH', 'Audrey New', 'J C',
       'James Bond', 'CamTheDestroyer', 'g', 'Glenn Davey',
       'Mattastic Mattattack', 'Dee Cohen', 'Meagan Woolstrum', 'Peter E',
       'Rob', 'Michelle McFarland', 'Ethan Hayden', 'dan lowe', 'A', 'S G',
       'Michael Sorrentino', 'Chris young', 'ADEDOTUN AKANDE', 'Alex'],
      dtype='object', name='Name')

In [155]:
# unique_comedians = list(set(df_clean.Comedian))
# len(list(set(df_clean.Comedian)))

In [156]:
# df_ucm = pd.DataFrame(0, index=users_top80appear, columns=unique_comedians)
# df_ucm

In [160]:
df_score_data = data_SA.merge(grouped_df, left_on='Title', right_on='Title')
df_score_data

,Title,Name,Comment,Polarity,Subjectivity,P/N,Comedian
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917,-1.0,Ramy Youssef
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000,1.0,Ramy Youssef
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000,1.0,Ramy Youssef
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750,-1.0,Ramy Youssef
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! üôÑ,0.000000,0.000000,0.0,Ramy Youssef
...,...,...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333,-1.0,Roy Wood Jr.
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333,-1.0,Roy Wood Jr.
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000,0.0,Roy Wood Jr.
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905,1.0,Roy Wood Jr.
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238,1.0,Roy Wood Jr.

In [161]:
df_avg_score = df_score_data.groupby(['Comedian','Name'], as_index=False).mean()
df_avg_score
# test = df_score_data.groupby(['Comedian','Name'], as_index=False).mean()
# test[test['P/N']<0.9].sort_values(by='P/N', ascending=False)

,Comedian,Name,Polarity,Subjectivity,P/N
0,Amy Schumer,02. Vernita Green Beatrix KiDDo,0.000000,0.000000,0.0
1,Amy Schumer,100cincinnati,-0.291667,0.541667,-1.0
2,Amy Schumer,@wordzgirl,0.145429,0.624579,1.0
3,Amy Schumer,A,0.875000,0.900000,1.0
4,Amy Schumer,A Diet Called SŒµx,0.000000,0.000000,0.0
...,...,...,...,...,...
17138,Whitney Cummings,yew 2oob,0.800000,0.750000,1.0
17139,Whitney Cummings,zhanna davidova,0.000000,0.000000,0.0
17140,Whitney Cummings,zja42188,0.156250,0.666667,1.0
17141,Whitney Cummings,„ÅÆ„Å¢Grey,0.800000,1.000000,1.0
17142,Whitney Cummings,Áéã „Ç¢„ÉÜ„É†Á©∫ÁôΩLe Chiffre,0.000000,0.000000,0.0

In [99]:
# user_name = df_avg_score['Name']
# comedian_name = df_avg_score['Comedian']
# score = df_avg_score['P/N']
# for u,c,s in zip(user_name,comedian_name,score):
#     df_ucm.loc[u, c] = s
# df_ucm

In [54]:
# df_ucm.to_pickle('./user_comedian_matrix.pkl')

In [53]:
# ddd = pd.read_pickle('./user_comedian_matrix.pkl')
# ddd

In [104]:
#

## [Find which comedian have most appearance in different users]

In [165]:
df_clean = df[['Name', 'Comedian']]
df_clean['duplicate'] = df_clean.duplicated()
df_clean = df_clean[~df_clean['duplicate']]
users_top80 = df_clean.groupby('Name',as_index=False).count().sort_values(by='Comedian', ascending=False).head(80)['Name']
list(users_top80)

['Sumukh',
 'Adam Szasz',
 'Green Envy',
 'Whyinem',
 'matthew styles',
 'Michael',
 'Ian Crouch',
 'Xfirex Xbites',
 'Panos kanos',
 'Papa Grounds',
 'brainflash1',
 'Tyrone Frye',
 'John Smith',
 'P V',
 'Wuft Chan',
 'Jennifer Bates',
 'Michiko Manalang',
 'Claudia Solomon',
 'EaST CoAsT MaCHete',
 'Mike bee',
 'Tommaso Urbisci',
 'BabyChainGang',
 'R. A.',
 'Real Talk',
 'Cleveland Maker',
 'Anton Nym',
 'Bi- Han',
 'Michael Pipkin',
 'J',
 'xirsamoht x',
 'Remedy',
 'John Paul Lafferty',
 'A B',
 'That Guy',
 'Niko',
 'A M',
 'Kurt Sudheim',
 'A Z',
 'Sam',
 'Mike Jones',
 'black bird',
 'Anna markandan',
 'Vmundo Ortiz',
 'Lydia Waweru-Morgan',
 'yew 2oob',
 'Kevin Smith',
 'L K',
 'Jay Jay',
 'Bonafide Slacker',
 'R B',
 'Andrew Wiggin',
 'Vikram Singh',
 'Comedy Central Stand-Up\n\n\n\n      \n    Comedy Central Stand-Up',
 'Cynthia Copland',
 'Stacy Melanson',
 'Allison Linner',
 'John Doe',
 'Christopher',
 'K M',
 'Tragoudistros.MPH',
 'Audrey New',
 'J C',
 'James Bond',
 'CamTheDestroyer',
 'g',
 'Glenn Davey',
 'Mattastic Mattattack',
 'Dee Cohen',
 'Meagan Woolstrum',
 'Peter E',
 'Rob',
 'Michelle McFarland',
 'Ethan Hayden',
 'dan lowe',
 'A',
 'S G',
 'Michael Sorrentino',
 'Chris young',
 'ADEDOTUN AKANDE',
 'Alex']

In [166]:
# df_clean[df_clean['Name'] == list(users_top80)]
only = df_clean["Name"].isin(list(users_top80)) 
df_clean2 = df_clean[only]
# len(df_clean2['Comedian'].unique())
df_clean2

                      Name          Comedian  duplicate
247                    A B      Ramy Youssef      False
289        ADEDOTUN AKANDE     Andy Woodhull      False
312              Anton Nym     Andy Woodhull      False
324    Lydia Waweru-Morgan     Andy Woodhull      False
340         Jennifer Bates     Andy Woodhull      False
...                    ...               ...        ...
17179              Peter E  Whitney Cummings      False
17229             yew 2oob  Whitney Cummings      False
17430         Papa Grounds      Roy Wood Jr.      False
17614          Tyrone Frye      Roy Wood Jr.      False
17709              Michael      Roy Wood Jr.      False

[264 rows x 3 columns]

In [167]:
df_UCM = pd.DataFrame(0, index=df_clean2['Name'].unique(), columns=df_clean2['Comedian'].unique())
df_UCM

,Ramy Youssef,Andy Woodhull,Amy Schumer,Arsenio,Arsenio Hall,Aziz Ansari,Bert Kreischer,Bill Burr,Chris D'Elia,Chris Rock,...,Ronny Chieng,Roy Wood Jr.,Russell Peters,Sebastian Maniscalco,Tiffany Haddish,Tom Segura,Trevor Noah,Urzila Carlson,Vir Das,Whitney Cummings
A B,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
ADEDOTUN AKANDE,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Anton Nym,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Lydia Waweru-Morgan,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jennifer Bates,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CamTheDestroyer,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Jay Jay,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Cynthia Copland,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Comedy Central Stand-Up\n\n\n\n \n Comedy Central Stand-Up,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
Michelle McFarland,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [168]:
# retain the data rows only with users_top80
user_filter = df_avg_score['Name'].isin(users_top80)
df_avg_score_top80users_and_top41comedians = df_avg_score[user_filter]
df_avg_score_top80users_and_top41comedians

               Comedian                Name  Polarity  Subjectivity  P/N
3           Amy Schumer                   A  0.875000      0.900000  1.0
235         Amy Schumer              Sumukh  0.100000      0.300000  1.0
388       Andy Woodhull     ADEDOTUN AKANDE  0.875000      0.600000  1.0
393       Andy Woodhull           Anton Nym  0.680990      0.681667  1.0
440       Andy Woodhull        Ethan Hayden  0.291667      0.508333  1.0
...                 ...                 ...       ...           ...  ...
16760  Whitney Cummings          John Smith  0.214286      0.500000  1.0
16838  Whitney Cummings  Michael Sorrentino  0.000000      0.000000  0.0
16847  Whitney Cummings            Mike bee  0.550000      0.500000  1.0
16889  Whitney Cummings             Peter E  0.000000      0.950000  0.0
17138  Whitney Cummings            yew 2oob  0.800000      0.750000  1.0

[264 rows x 5 columns]

In [169]:
# comedian_top41 = list(df_clean2['Comedian'].unique())
# comedian_filter = df_avg_score['Comedian'].isin(comedian_top41)
# df_avg_score[comedian_filter]

# df_UCM with the average P/N score

In [170]:
# df_UCM with the average P/N score
user_name = df_avg_score_top80users_and_top41comedians['Name']
comedian_name = df_avg_score_top80users_and_top41comedians['Comedian']
score = df_avg_score_top80users_and_top41comedians['P/N']
for u,c,s in zip(user_name,comedian_name,score):
    df_UCM.loc[u, c] = s
df_UCM.to_pickle('./user_comedian_matrix_withPN.pkl')
df_UCM

,Ramy Youssef,Andy Woodhull,Amy Schumer,Arsenio,Arsenio Hall,Aziz Ansari,Bert Kreischer,Bill Burr,Chris D'Elia,Chris Rock,...,Ronny Chieng,Roy Wood Jr.,Russell Peters,Sebastian Maniscalco,Tiffany Haddish,Tom Segura,Trevor Noah,Urzila Carlson,Vir Das,Whitney Cummings
A B,1,0.0,0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0,0,0,0,0,0,0,0
ADEDOTUN AKANDE,0,1.0,0,0,0.0,0,0.0,0,0.0,0,...,0.0,1,0,-1,0,0,0,0,0,0
Anton Nym,0,1.0,0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0,0,0,0,0,0,0,0
Lydia Waweru-Morgan,0,-1.0,0,1,0.0,0,1.0,0,0.0,0,...,0.0,0,0,0,0,0,0,0,0,0
Jennifer Bates,0,1.0,0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CamTheDestroyer,0,0.0,0,0,0.0,0,0.0,0,0.0,0,...,1.0,0,0,0,0,0,0,0,0,0
Jay Jay,0,0.0,0,0,0.0,0,0.0,0,0.0,0,...,1.0,0,0,0,0,1,0,0,0,0
Cynthia Copland,0,0.0,0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0,0,-1,0,0,0,0,0
Comedy Central Stand-Up\n\n\n\n \n Comedy Central Stand-Up,0,0.0,0,0,0.0,0,0.0,0,0.0,0,...,0.0,1,0,0,0,0,0,0,0,1
Michelle McFarland,0,0.0,0,0,0.0,0,0.0,0,0.0,0,...,0.0,0,0,0,0,0,0,1,1,0

# df_UCM with the average original polarity score

In [171]:
# df_UCM with the average Polarity score
user_name = df_avg_score_top80users_and_top41comedians['Name']
comedian_name = df_avg_score_top80users_and_top41comedians['Comedian']
score = df_avg_score_top80users_and_top41comedians['Polarity']
for u,c,s in zip(user_name,comedian_name,score):
    df_UCM.loc[u, c] = s
df_UCM.to_pickle('./user_comedian_matrix_OriginalPolarity.pkl')
df_UCM

,Ramy Youssef,Andy Woodhull,Amy Schumer,Arsenio,Arsenio Hall,Aziz Ansari,Bert Kreischer,Bill Burr,Chris D'Elia,Chris Rock,...,Ronny Chieng,Roy Wood Jr.,Russell Peters,Sebastian Maniscalco,Tiffany Haddish,Tom Segura,Trevor Noah,Urzila Carlson,Vir Das,Whitney Cummings
A B,0.191429,0.000000,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0
ADEDOTUN AKANDE,0.000000,0.875000,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.400000,0.0,-0.1625,0.0,0.0,0.0,0.0,0.000000,0.0
Anton Nym,0.000000,0.680990,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0
Lydia Waweru-Morgan,0.000000,-0.237500,0.0,0.65,0.0,0.0,0.488281,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0
Jennifer Bates,0.000000,0.671875,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CamTheDestroyer,0.000000,0.000000,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.033333,0.000000,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000,0.0
Jay Jay,0.000000,0.000000,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.155000,0.000000,0.0,0.0000,0.0,0.8,0.0,0.0,0.000000,0.0
Cynthia Copland,0.000000,0.000000,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0000,-0.3,0.0,0.0,0.0,0.000000,0.0
Comedy Central Stand-Up\n\n\n\n \n Comedy Central Stand-Up,0.000000,0.000000,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.268182,0.0,0.0000,0.0,0.0,0.0,0.0,0.000000,0.5
Michelle McFarland,0.000000,0.000000,0.0,0.00,0.0,0.0,0.000000,0.0,0.0,0.0,...,0.000000,0.000000,0.0,0.0000,0.0,0.0,0.0,1.0,0.446429,0.0