In [1]:
# ! pip3 install xlrd
# ! pip3 install textblob
! pip3 install openpyxl

'pip3' is not recognized as an internal or external command,
operable program or batch file.

In [75]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from textblob import TextBlob as tb # Sentiment analysis
import random

In [3]:
# print(tb('black').sentiment.polarity)
# print(tb('Welcome to the new Comedy Central Stand-Up YouTube channel! Hit subscribe for new, exclusive stand-up videos every week.').sentiment.polarity)

In [4]:
df_webapage = pd.read_pickle('./scrape_result_80.pkl')

In [5]:
# dd = df_webapage
# dd['idx'] = dd['Name'].str.find('Central') 
# dd2 = dd[dd['idx']!=-1]
# dd2

In [6]:
df_name = df_webapage.groupby(["Name"], sort=True).agg(['count']).Title.sort_values('count', ascending=False)
df_name.head(100)

                     count
Name
whitepride1004          31
Sumukh                   7
Michael                  6
Green Envy               6
Audrey New               6
...                    ...
Bi- Han                  3
Lydia Waweru-Morgan      3
James Bond               3
ADEDOTUN AKANDE          3
Xitsundzuxo Himina       3

[100 rows x 1 columns]

In [7]:
pol = lambda x: tb(x).sentiment.polarity
sub = lambda x: tb(x).sentiment.subjectivity

data_SA = pd.DataFrame()
data_SA['Title'] = df_webapage['Title']
data_SA['Name'] = df_webapage['Name']
data_SA['Comment'] = df_webapage['Comment']
data_SA['Polarity'] = df_webapage['Comment'].apply(pol)
data_SA['Subjectivity'] = df_webapage['Comment'].apply(sub)
data_SA

,Title,Name,Comment,Polarity,Subjectivity
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! ðŸ™„,0.000000,0.000000
...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238

In [8]:
# data_SA['Comment'][17750]

In [9]:
PorN = lambda x: x*0 if x==0 else (x*(1/x) if x>0 else x*(-1/x))
data_SA['P/N'] = data_SA['Polarity'].apply(PorN)
data_SA

,Title,Name,Comment,Polarity,Subjectivity,P/N
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917,-1.0
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000,1.0
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000,1.0
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750,-1.0
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! ðŸ™„,0.000000,0.000000,0.0
...,...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333,-1.0
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333,-1.0
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000,0.0
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905,1.0
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238,1.0

In [10]:
# data_SA[data_SA['P/N']==1].groupby(['Title']).count()

In [11]:
# data_SA[data_SA['P/N']==-1].groupby(['Title']).count().head()

In [12]:
# res = data_SA[['Title','P/N']].groupby(['Title']).sum()
# res

In [13]:
# res[res['P/N']>0]

In [14]:
# data_SA[data_SA['P/N']==0].groupby(['Title']).count()

In [15]:
# data_SA[data_SA['P/N']==0]['Comment'][17750]

# Group data

In [16]:
df_dataSource = pd.read_excel('DataSource_80clips.xlsx')
df_titleWithComedian = pd.read_excel('Title_Comedian.xlsx')

Tit_func = lambda x: x.title()
df_titleWithComedian['Comedian'] = df_titleWithComedian['Comedian'].apply(Tit_func)
comedians_name = df_titleWithComedian['Comedian'].apply(Tit_func)

df_dataSource[:1]

,Who?,Comedian,Title,Link of the transcript,Transcript (CONTENT!!!!),Video link
0,Leo,Kevin Hart,Lying Will Ruin Your Life,https://www.wattpad.com/362679778-kevin-hart-l...,Lying will ruin your life. Lying will ruin you...,https://www.youtube.com/watch?v=EPoOBF8-Tvs&ab...

In [17]:
dd2 = df_dataSource.sort_values(by='Comedian')
dd2.to_csv('ahsifuho.csv')

In [18]:
dd = df_titleWithComedian.sort_values(by='Comedian')
print(len(dd['Comedian'].unique()))
# list(dd['Comedian'].unique())
dd.to_csv('dd.csv')

42

In [19]:
# len(set(list(map(lambda x: x.lower().strip(), list(df_dataSource['Comedian'].unique())))))

In [20]:
grouped_df = df_webapage.groupby("Title", as_index=False).count()
grouped_df = grouped_df.drop(['Thumbsup','Name','Comment'], axis=1)

grouped_df['Comedian'] = comedians_name
grouped_df

                                                Title          Comedian
0   "3 Girls? We Don't Have Time" | Pete Davidson SMD     Pete Davidson
1   "Don't Lose Your Accent / Learning Accents" - ...       Trevor Noah
2   "Flying Into America" - Trevor Noah - (Lost In...       Trevor Noah
3                   "Lost Keys" | Jo Koy : Lights Out            Jo Koy
4         "Rice is Rice" | Jo Koy : Live from Seattle            Jo Koy
..                                                ...               ...
75      When You're Late To Everything. Andy Woodhull     Andy Woodhull
76     Whitney Cummings - I Love You - Marriage & Sex  Whitney Cummings
77  Whitney Cummings | I'm Your Girlfriend: Women ...  Whitney Cummings
78  Why Arsenio Checks His Phone Before His Wife C...      Arsenio Hall
79        Why Asians Are Good At Math - Jimmy O. Yang     Jimmy O. Yang

[80 rows x 2 columns]

In [21]:
# merge two df by "title"
df = df_webapage.merge(grouped_df, left_on='Title', right_on='Title')
df = df[['Title','Comedian','Thumbsup','Name','Comment']]
df.to_pickle('./scrape_result_80_with_comedians.pkl')
df

,Title,Comedian,Thumbsup,Name,Comment
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,2400,Kenza B.,"He touched something really deep, first he ddn..."
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,1500,LMivha,How this man got his point across is absolute ...
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,1200,Marissa Urias,"Wow, people in the comments really don't get t..."
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,909,Riaz Uddin,"This is what I tell people all the time, just ..."
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Ramy Youssef,837,Shannon dobbs,They don't ask NUNS THAT! ðŸ™„
...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,357 Magnum,I'm guessing he doesn't live in a colorblind w...
17749,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,3,Erin James,Then leave my dear friend. Youve been free for...
17750,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...
17751,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,2,ralph salotto,"Now that you mention it he's right, the Blues ..."
17752,Black Music Tells You Everything You Need to K...,Roy Wood Jr.,0,Garbanzo Beans,Far more black people have migrated to the US ...

In [22]:
# df[df['Comedian']=='Oj Simpson']

# User-Comedian Matrix

In [23]:
df_clean = df[['Name', 'Comedian']]
df_clean

                        Name      Comedian
0                   Kenza B.  Ramy Youssef
1                     LMivha  Ramy Youssef
2              Marissa Urias  Ramy Youssef
3                 Riaz Uddin  Ramy Youssef
4              Shannon dobbs  Ramy Youssef
...                      ...           ...
17748             357 Magnum  Roy Wood Jr.
17749             Erin James  Roy Wood Jr.
17750  I'm black So I'm slow  Roy Wood Jr.
17751          ralph salotto  Roy Wood Jr.
17752         Garbanzo Beans  Roy Wood Jr.

[17753 rows x 2 columns]

In [24]:
df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False).head(90)

                Comedian
Name
whitepride1004        31
Sumukh                 7
Michael                6
Green Envy             6
Audrey New             6
...                  ...
Adam                   3
Aditi Soni             3
Aditi Tol              3
horse sabre            3
Lxlno                  3

[90 rows x 1 columns]

In [25]:
data_SA[data_SA['Name'] == 'Lxlno']

,Title,Name,Comment,Polarity,Subjectivity,P/N
5376,Jim Jefferies Couldn't Do This Joke in Kansas ...,Lxlno,"""Who clicked on the vid and came straight to c...",0.178788,0.351515,1.0
5450,Jim Jefferies Refuses the Whole Lotion Routine...,Lxlno,"""Who clicked on the vid and came straight to c...",0.178788,0.351515,1.0
6126,Joe Rogan Explains How Men Are Like Cats | Net...,Lxlno,"""Who clicked on the vid and came straight to c...",0.178788,0.351515,1.0

In [26]:
df_clean['duplicate'] = df_clean.duplicated()
df_clean = df_clean[~df_clean['duplicate']]
df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False).head(20)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

                    Comedian  duplicate
Name
Sumukh                     6          6
Adam Szasz                 5          5
Green Envy                 5          5
Whyinem                    5          5
matthew styles             5          5
Michael                    5          5
Ian Crouch                 4          4
Xfirex Xbites              4          4
Panos kanos                4          4
Papa Grounds               4          4
Tyrone Frye                4          4
Wuft Chan                  4          4
P V                        4          4
John Smith                 4          4
Jennifer Bates             4          4
Michiko Manalang           4          4
Claudia Solomon            3          3
EaST CoAsT MaCHete         3          3
BabyChainGang              3          3
Cynthia Copland            3          3

In [27]:
# data_SA[data_SA['Name'] == 'Kurt Sudheim']

In [46]:
# Select the top 80 users 
df_clean.groupby('Name').count().sort_values(by='Comedian', ascending=False).head(80)

                    Comedian  duplicate
Name
Sumukh                     6          6
Adam Szasz                 5          5
Green Envy                 5          5
Whyinem                    5          5
matthew styles             5          5
...                      ...        ...
Michael Sorrentino         3          3
Chris young                3          3
ADEDOTUN AKANDE            3          3
Alex                       3          3
M S                        2          2

[80 rows x 2 columns]

In [29]:
# unique_comedians = list(set(df_clean.Comedian))
# len(list(set(df_clean.Comedian)))

In [30]:
# df_ucm = pd.DataFrame(0, index=users_top80appear, columns=unique_comedians)
# df_ucm

In [47]:
df_score_data = data_SA.merge(grouped_df, left_on='Title', right_on='Title')
df_score_data

,Title,Name,Comment,Polarity,Subjectivity,P/N,Comedian
0,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Kenza B.,"He touched something really deep, first he ddn...",-0.137500,0.547917,-1.0,Ramy Youssef
1,Ramy Youssef: Feelings (2019) | Why Do They Ma...,LMivha,How this man got his point across is absolute ...,0.200000,0.900000,1.0,Ramy Youssef
2,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Marissa Urias,"Wow, people in the comments really don't get t...",0.160000,0.365000,1.0,Ramy Youssef
3,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Riaz Uddin,"This is what I tell people all the time, just ...",-0.406250,0.793750,-1.0,Ramy Youssef
4,Ramy Youssef: Feelings (2019) | Why Do They Ma...,Shannon dobbs,They don't ask NUNS THAT! ðŸ™„,0.000000,0.000000,0.0,Ramy Youssef
...,...,...,...,...,...,...,...
17748,Black Music Tells You Everything You Need to K...,357 Magnum,I'm guessing he doesn't live in a colorblind w...,-0.243434,0.533333,-1.0,Roy Wood Jr.
17749,Black Music Tells You Everything You Need to K...,Erin James,Then leave my dear friend. Youve been free for...,-0.237500,0.733333,-1.0,Roy Wood Jr.
17750,Black Music Tells You Everything You Need to K...,I'm black So I'm slow,We didn't create the blue's!... We didn't crea...,0.000000,0.100000,0.0,Roy Wood Jr.
17751,Black Music Tells You Everything You Need to K...,ralph salotto,"Now that you mention it he's right, the Blues ...",0.361905,0.511905,1.0,Roy Wood Jr.
17752,Black Music Tells You Everything You Need to K...,Garbanzo Beans,Far more black people have migrated to the US ...,0.130952,0.595238,1.0,Roy Wood Jr.

In [32]:
df_avg_score = df_score_data.groupby(['Comedian','Name'], as_index=False).mean()
df_avg_score
# test = df_score_data.groupby(['Comedian','Name'], as_index=False).mean()
# test[test['P/N']<0.9].sort_values(by='P/N', ascending=False)

,Comedian,Name,Polarity,Subjectivity,P/N
0,Amy Schumer,02. Vernita Green Beatrix KiDDo,0.000000,0.000000,0.0
1,Amy Schumer,100cincinnati,-0.291667,0.541667,-1.0
2,Amy Schumer,@wordzgirl,0.145429,0.624579,1.0
3,Amy Schumer,A,0.875000,0.900000,1.0
4,Amy Schumer,A Diet Called SÎµx,0.000000,0.000000,0.0
...,...,...,...,...,...
17136,Whitney Cummings,yew 2oob,0.800000,0.750000,1.0
17137,Whitney Cummings,zhanna davidova,0.000000,0.000000,0.0
17138,Whitney Cummings,zja42188,0.156250,0.666667,1.0
17139,Whitney Cummings,ã®ã¢Grey,0.800000,1.000000,1.0
17140,Whitney Cummings,çŽ‹ ã‚¢ãƒ†ãƒ ç©ºç™½Le Chiffre,0.000000,0.000000,0.0

In [33]:
# user_name = df_avg_score['Name']
# comedian_name = df_avg_score['Comedian']
# score = df_avg_score['P/N']
# for u,c,s in zip(user_name,comedian_name,score):
#     df_ucm.loc[u, c] = s
# df_ucm

In [34]:
# df_ucm.to_pickle('./user_comedian_matrix.pkl')

In [35]:
# ddd = pd.read_pickle('./user_comedian_matrix.pkl')
# ddd

In [36]:
#

## [Find which comedian have most appearance in different users]

In [48]:
df_clean = df[['Name', 'Comedian']]
df_clean['duplicate'] = df_clean.duplicated()
df_clean = df_clean[~df_clean['duplicate']]
users_top79 = df_clean.groupby('Name',as_index=False).count().sort_values(by='Comedian', ascending=False).head(79)['Name']
list(users_top79)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

['Sumukh',
 'Adam Szasz',
 'Green Envy',
 'Whyinem',
 'matthew styles',
 'Michael',
 'Ian Crouch',
 'Xfirex Xbites',
 'Panos kanos',
 'Papa Grounds',
 'Tyrone Frye',
 'Wuft Chan',
 'P V',
 'John Smith',
 'Jennifer Bates',
 'Michiko Manalang',
 'Claudia Solomon',
 'EaST CoAsT MaCHete',
 'BabyChainGang',
 'Cynthia Copland',
 'Mike bee',
 'Real Talk',
 'R. A.',
 'Cleveland Maker',
 'Anton Nym',
 'A',
 'Michael Pipkin',
 'J',
 'xirsamoht x',
 'Remedy',
 'John Paul Lafferty',
 'A B',
 'That Guy',
 'Niko',
 'yew 2oob',
 'A M',
 'A Z',
 'Kurt Sudheim',
 'Sam',
 'black bird',
 'Mike Jones',
 'Anna markandan',
 'Lydia Waweru-Morgan',
 'Kevin Smith',
 'R B',
 'L K',
 'Jay Jay',
 'Bonafide Slacker',
 'Andrew Wiggin',
 'Vikram Singh',
 'Tommaso Urbisci',
 'Comedy Central Stand-Up\n\n\n\n      \n    Comedy Central Stand-Up',
 'brainflash1',
 'Stacy Melanson',
 'Allison Linner',
 'John Doe',
 'Christopher',
 'K M',
 'Tragoudistros.MPH',
 'Audrey New',
 'J C',
 'James Bond',
 'CamTheDestroyer',
 'g',
 'Glenn Davey',
 'Mattastic Mattattack',
 'Dee Cohen',
 'Meagan Woolstrum',
 'Peter E',
 'Rob',
 'Michelle McFarland',
 'Ethan Hayden',
 'dan lowe',
 'Bi- Han',
 'S G',
 'Michael Sorrentino',
 'Chris young',
 'ADEDOTUN AKANDE',
 'Alex']

In [49]:
# df_clean[df_clean['Name'] == list(users_top80)]
only = df_clean["Name"].isin(list(users_top79)) 
df_clean2 = df_clean[only]
print(len(df_clean2['Comedian'].unique()))
df_clean2

40

                      Name          Comedian  duplicate
247                    A B      Ramy Youssef      False
289        ADEDOTUN AKANDE     Andy Woodhull      False
312              Anton Nym     Andy Woodhull      False
324    Lydia Waweru-Morgan     Andy Woodhull      False
340         Jennifer Bates     Andy Woodhull      False
...                    ...               ...        ...
17179              Peter E  Whitney Cummings      False
17229             yew 2oob  Whitney Cummings      False
17430         Papa Grounds      Roy Wood Jr.      False
17614          Tyrone Frye      Roy Wood Jr.      False
17709              Michael      Roy Wood Jr.      False

[260 rows x 3 columns]

## Split to train and test dataset

In [60]:
print(len(df_clean2['Name'].unique()))

79

In [74]:
a = [1,2,3]
a[:2]

[1, 2]

In [95]:
user_comedian = {}
for k, v in df_clean2.iterrows():
    user = v.Name
    comedian = v.Comedian
    if user not in user_comedian:
        user_comedian[user] = [comedian]
    else:
        user_comedian[user].append(comedian)

train_df = pd.DataFrame(columns=['Name', 'Comedian'])
test_df = pd.DataFrame(columns=['Name', 'Comedian'])
for k, v in user_comedian.items():
    n = len(v)
    test_size = 1 if n < 6 else 2
    random.shuffle(v)
    for com in v[:(n-test_size)]:
        train_df = train_df.append({'Name':k, 'Comedian':com}, ignore_index=True)
    for com in v[-test_size:]:
        test_df = test_df.append({'Name':k, 'Comedian':com}, ignore_index=True)

In [96]:
train_df.to_csv('training_set.csv')
train_df.head()

              Name       Comedian
0              A B   Ramy Youssef
1              A B   Chris D'Elia
2  ADEDOTUN AKANDE  Andy Woodhull
3  ADEDOTUN AKANDE   Roy Wood Jr.
4        Anton Nym  Andy Woodhull

In [97]:
test_df.to_csv('test_set.csv')
test_df.head()

                  Name              Comedian
0                  A B               Vir Das
1      ADEDOTUN AKANDE  Sebastian Maniscalco
2            Anton Nym        Bert Kreischer
3  Lydia Waweru-Morgan          Arsenio Hall
4       Jennifer Bates           Aziz Ansari

## User-Comedian Matrix

In [50]:
df_UCM = pd.DataFrame('NaN', index=df_clean2['Name'].unique(), columns=df_clean2['Comedian'].unique())
df_UCM

,Ramy Youssef,Andy Woodhull,Amy Schumer,Arsenio Hall,Aziz Ansari,Bert Kreischer,Bill Burr,Chris D'Elia,Chris Rock,Dave Chappelle,...,Ronny Chieng,Roy Wood Jr.,Russell Peters,Sebastian Maniscalco,Tiffany Haddish,Tom Segura,Trevor Noah,Urzila Carlson,Vir Das,Whitney Cummings
A B,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ADEDOTUN AKANDE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Anton Nym,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lydia Waweru-Morgan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jennifer Bates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CamTheDestroyer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jay Jay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Cynthia Copland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Comedy Central Stand-Up\n\n\n\n \n Comedy Central Stand-Up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Michelle McFarland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
# retain the data rows only with users_top80
user_filter = df_avg_score['Name'].isin(users_top79)
df_avg_score_top79users_and_top40comedians = df_avg_score[user_filter]
df_avg_score_top79users_and_top40comedians

               Comedian                Name  Polarity  Subjectivity  P/N
3           Amy Schumer                   A  0.875000      0.900000  1.0
235         Amy Schumer              Sumukh  0.100000      0.300000  1.0
388       Andy Woodhull     ADEDOTUN AKANDE  0.875000      0.600000  1.0
393       Andy Woodhull           Anton Nym  0.680990      0.681667  1.0
440       Andy Woodhull        Ethan Hayden  0.291667      0.508333  1.0
...                 ...                 ...       ...           ...  ...
16758  Whitney Cummings          John Smith  0.214286      0.500000  1.0
16836  Whitney Cummings  Michael Sorrentino  0.000000      0.000000  0.0
16845  Whitney Cummings            Mike bee  0.550000      0.500000  1.0
16887  Whitney Cummings             Peter E  0.000000      0.950000  0.0
17136  Whitney Cummings            yew 2oob  0.800000      0.750000  1.0

[260 rows x 5 columns]

In [56]:
dddd = df_avg_score_top79users_and_top40comedians.groupby('Name').agg('count')
dddd.sort_values(by='Comedian', ascending=False)[:20]

                    Comedian  Polarity  Subjectivity  P/N
Name
Sumukh                     6         6             6    6
Michael                    5         5             5    5
Adam Szasz                 5         5             5    5
Whyinem                    5         5             5    5
Green Envy                 5         5             5    5
matthew styles             5         5             5    5
John Smith                 4         4             4    4
P V                        4         4             4    4
Michiko Manalang           4         4             4    4
Ian Crouch                 4         4             4    4
Xfirex Xbites              4         4             4    4
Wuft Chan                  4         4             4    4
Tyrone Frye                4         4             4    4
Papa Grounds               4         4             4    4
Panos kanos                4         4             4    4
Jennifer Bates             4         4             4    4
Peter E                    3         3             3    3
Michael Sorrentino         3         3             3    3
Michael Pipkin             3         3             3    3
Niko                       3         3             3    3

In [53]:
# comedian_top41 = list(df_clean2['Comedian'].unique())
# comedian_filter = df_avg_score['Comedian'].isin(comedian_top41)
# df_avg_score[comedian_filter]

# df_UCM with the average P/N score

In [57]:
# df_UCM with the average P/N score
user_name = df_avg_score_top79users_and_top40comedians['Name']
comedian_name = df_avg_score_top79users_and_top40comedians['Comedian']
score = df_avg_score_top80users_and_top41comedians['P/N']
for u,c,s in zip(user_name,comedian_name,score):
    df_UCM.loc[u, c] = s
df_UCM.to_pickle('./user_comedian_matrix_withPN.pkl')
df_UCM

,Ramy Youssef,Andy Woodhull,Amy Schumer,Arsenio Hall,Aziz Ansari,Bert Kreischer,Bill Burr,Chris D'Elia,Chris Rock,Dave Chappelle,...,Ronny Chieng,Roy Wood Jr.,Russell Peters,Sebastian Maniscalco,Tiffany Haddish,Tom Segura,Trevor Noah,Urzila Carlson,Vir Das,Whitney Cummings
A B,1,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
ADEDOTUN AKANDE,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,-1,NaN,NaN,NaN,NaN,NaN,NaN
Anton Nym,NaN,1,NaN,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lydia Waweru-Morgan,NaN,-1,NaN,1,NaN,1,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jennifer Bates,NaN,1,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CamTheDestroyer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jay Jay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN
Cynthia Copland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-1,NaN,NaN,NaN,NaN,NaN
Comedy Central Stand-Up\n\n\n\n \n Comedy Central Stand-Up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
Michelle McFarland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,1,1,NaN

# df_UCM with the average original polarity score

In [58]:
# df_UCM with the average Polarity score
user_name = df_avg_score_top79users_and_top40comedians['Name']
comedian_name = df_avg_score_top79users_and_top40comedians['Comedian']
score = df_avg_score_top79users_and_top40comedians['Polarity']
for u,c,s in zip(user_name,comedian_name,score):
    df_UCM.loc[u, c] = s
df_UCM.to_pickle('./user_comedian_matrix_OriginalPolarity.pkl')
df_UCM

,Ramy Youssef,Andy Woodhull,Amy Schumer,Arsenio Hall,Aziz Ansari,Bert Kreischer,Bill Burr,Chris D'Elia,Chris Rock,Dave Chappelle,...,Ronny Chieng,Roy Wood Jr.,Russell Peters,Sebastian Maniscalco,Tiffany Haddish,Tom Segura,Trevor Noah,Urzila Carlson,Vir Das,Whitney Cummings
A B,0.191429,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN
ADEDOTUN AKANDE,NaN,0.875,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.4,NaN,-0.1625,NaN,NaN,NaN,NaN,NaN,NaN
Anton Nym,NaN,0.68099,NaN,NaN,NaN,0,NaN,NaN,0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Lydia Waweru-Morgan,NaN,-0.2375,NaN,0.65,NaN,0.488281,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jennifer Bates,NaN,0.671875,NaN,NaN,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
CamTheDestroyer,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0333333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Jay Jay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.155,NaN,NaN,NaN,NaN,0.8,NaN,NaN,NaN,NaN
Cynthia Copland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,-0.3,NaN,NaN,NaN,NaN,NaN
Comedy Central Stand-Up\n\n\n\n \n Comedy Central Stand-Up,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.268182,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.5
Michelle McFarland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,0,NaN,NaN,1,0.446429,NaN